body{
    background-color: whitesmoke;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 70%;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 5rem;
}
.logo{
    width: 5%;
    padding: 8px;
}
#timer{
    transition: 2s ease-in;
}
ol{
    padding-left: 3px;
    margin: 1.5rem;
}
ol li:hover{
    color: #fff;
    cursor: pointer;
}
.highlight{
    background-color: grey;
    border-radius: 20px;
    width: 200px;
    padding: 5px;
    display: inline-block;
}

h1{
    text-align: center;
    color: white;
}
h2{
    padding-left: 30px;
    color: #fff;
}
p{
    color: #fff;
}
section{
    border-radius: 30px;
    padding: 10px;
    margin-top: 10rem;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(50, 6, 248);
    padding: 10px;
    text-align: center;
    width: 70%;
    margin: auto;
}
.next-btn{
    position: absolute;
    right: 1rem;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(248, 6, 46);
    width: 70px;
    height: 30px;
    border: 0;
    margin-left: 150px;
    margin-top: 50px;
    align-items: center;
    color: #fff;
}
.prev-btn{
    position: absolute;
    left: 1rem;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(248, 6, 46);
    width: 70px;
    height: 30px;
    border: 0;
    margin-right: 150px;
    margin-top: 50px;
    align-items: center;
    color: #fff;
}
#btn3{
    display: flex;
    position: relative;
    background-color: rgb(248, 6, 46);
    border-radius: 2rem;
    border: none;
    width: 20%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: auto;
    margin-top: 10rem ;
    font-size: larger;
    font-weight: 700;
    color: wheat;
    cursor: pointer;
}
#scoreboard{
    height: 400px;
    width: 300px;
    background-color: green;
    display: flex;
    justify-content: center;
    display: none;
    margin: auto;
    border-radius: 2rem;
}
.board{
    color: black;
    text-align: center;
    padding: 12px;
}
.back, .check{
    border-radius: 2rem;
      text-align: center;
      margin: auto;
      display: flex;
      background-color: black;
      color: aliceblue;
      cursor: pointer;
      padding: 10px;
  }
  .check{
      margin-top: 1rem;
      padding: 10px;
  }
  #SubmitRes{
    background-color: aqua;
    width: 50%;
    height: 50px;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: -0.5px;
    display: none;
    margin: auto;
    
    }
    .ans{
        color: black;
        padding: 1rem;
    }
    #answer{
        height: 400px;
        width: 300px;
        background-color: pink;
        margin: auto;
        border-radius: 2rem;
        text-align: center;
        margin-bottom: 1rem;
        display: none;
    }
    li, .list-answer{
        padding: 3px;
    }
